@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	/* Oswald */
	@font-face {
		font-family: 'Oswald';
		src: url('/fonts/oswald/Oswald-ExtraLight.ttf');
		font-weight: 200;
		font-display: swap;
	}
	@font-face {
		font-family: 'Oswald';
		src: url('/fonts/oswald/Oswald-Light.ttf');
		font-weight: 300;
		font-display: swap;
	}
	@font-face {
		font-family: 'Oswald';
		src: url('/fonts/oswald/Oswald-Regular.ttf');
		font-weight: 400;
		font-display: swap;
	}
	@font-face {
		font-family: 'Oswald';
		src: url('/fonts/oswald/Oswald-Medium.ttf');
		font-weight: 500;
		font-display: swap;
	}
	@font-face {
		font-family: 'Oswald';
		src: url('/fonts/oswald/Oswald-SemiBold.ttf');
		font-weight: 600;
		font-display: swap;
	}
	@font-face {
		font-family: 'Oswald';
		src: url('/fonts/oswald/Oswald-Bold.ttf');
		font-weight: 700;
		font-display: swap;
	}
	/* Lato */
	@font-face {
		font-family: 'Lato';
		src: url('/fonts/lato/Lato-Thin.ttf');
		font-weight: 100;
		font-display: swap;
	}
	@font-face {
		font-family: 'Lato';
		src: url('/fonts/lato/Lato-Light.ttf');
		font-weight: 300;
		font-display: swap;
	}
	@font-face {
		font-family: 'Lato';
		src: url('/fonts/lato/Lato-Regular.ttf');
		font-weight: 400;
		font-display: swap;
	}
	@font-face {
		font-family: 'Lato';
		src: url('/fonts/lato/Lato-Bold.ttf');
		font-weight: 700;
		font-display: swap;
	}
}
